<!DOCTYPE html>
<html>
	<head>
		 <meta http-equiv="content-type" content="text/html; charset=UTF-8">
		 <title>PayFood</title>
		 <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,500,700" rel="stylesheet" type="text/css">
		 <link rel="stylesheet" type="text/css" href="css/bootstrap-grid.min.css">
		 <link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body class="default-template">
		<header>
			<div class="container">
				<a href="index.html" class="pull-left">
					<h1>
						<div class="logo-img align-middle"></div>
						<div class="logo-text align-middle">PayFood</div>
					</h1>
				</a>
				<a href="dashboard.html" class="pull-right">
					<h1>
						<div class="user-img align-middle"></div>
						<div class="align-middle">Lanchonete do Pedro</div>
					</h1>
				</a>
			</div>
		</header>
		<div class="dashboard">
			<section class="green">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h3>Saque</h3>
							</div>
						</div>
						<div class="row tabela-grafico">
							<div class="col-md-6 text-center">
								<p class="big-text">Disponível: <strong>R$ 2500,00</strong></p>
								<button class="bt bt-white btn-wide btn-sacar">SACAR</button>
							</div>
							<div class="col-md-4 col-md-offset-1">
								<h4>Dados Bancários</h4>
								<ul class="no-style">
									<li>Banco: BANCO DO BRASIL</li>
									<li>CPF/CNPJ: 03.437.122/0001-40</li>
									<li>Agência: 123-44</li>
									<li>Conta: 8312</li>
									<li>Nome: JOÃO GONSALVES</li>
								</ul>
								<a href="#" class="link-white">Alterar dados bancários</a>
							</div>
						</div>
					</div>
				</section>
				<section class="white">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h3>Últimos Saques</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<img src="img/tabela-2.png" style="width: 98%">
							</div>
						</div>
					</div>
				</section>
			</div>
		<footer class="black"></footer>
	</body>
</html>